<nb-card>
    <nb-card-header class="clickable" (click)="toggle()">
        <nb-icon icon="{{ isToggled ? 'arrow-up' : 'arrow-down' }}"></nb-icon>
    </nb-card-header>
    <nb-card-body *ngIf="isToggled">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo doloremque, minima natus nulla similique aperiam voluptatum porro autem excepturi deleniti voluptates sed nostrum rem atque odio odit praesentium libero omnis?
        Omnis illo iste natus pariatur excepturi et, sunt, quo nobis ea, autem rerum asperiores optio modi temporibus maiores! Magni facilis aliquam ullam inventore consectetur impedit eius! Nostrum quidem enim ad.
        Tempora ducimus id culpa optio quia nemo aliquid soluta doloremque delectus! Unde impedit quos saepe tempora ad id iusto magnam deleniti itaque quo? Nam perspiciatis deserunt similique vero, ex dolorem.</p>
    </nb-card-body>
</nb-card>