<nb-card>
    <nb-card-header>
        <span (mouseover)="onMouseOver()" >Survoler ici pour incrémenter</span>
    </nb-card-header>
    <nb-card-body>
        {{ compt }}
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        <button nbButton 
                status="info" 
                outline 
                style="margin-right: 10px"
                (click)="onPlusClick()"
                [disabled]="compt2 > 8">+</button>
        <button nbButton status="success" outline
                (click)="onMinusClick()"
                [disabled]="compt2 < 1">-</button>
    </nb-card-header>
    <nb-card-body>{{compt2}}</nb-card-body>
</nb-card>
