<p>{{value}}</p>

<button nbButton 
        outline 
        status="success"
        (click)="start()"
        [disabled]="isStarted">Start</button>

<button nbButton 
        outline 
        status="danger"
        (click)="stop()"
        [disabled]="!isStarted">Stop</button>

<button nbButton 
        outline 
        status="warning"
        (click)="reset()"
        [disabled]="value == 0">Reset</button>
