<nb-card accent="info">
  <nb-card-header>
      <p>Afficher des alertes</p>
      <button nbButton (click)="addAlert()">+</button>
  </nb-card-header>
  <nb-card-body>
    <div #container>
      <app-alert color="danger" (close)="onCloseAppAlert()"
                 *ngIf="!appAlertDismissed">
        <h1>My Title</h1>
        <p>My content</p> 
      </app-alert>
    </div>
  </nb-card-body>
</nb-card>
