<ul>
    <li *ngFor="let item of collection">{{item}}</li>
</ul>
<nb-card>
    <nb-list>
        <nb-list-item *ngFor="let item of collection">
            {{item}}
        </nb-list-item>
    </nb-list>
</nb-card>
