<p>home works!</p>
<!-- test bootstrap -->
<button class="btn btn-danger">Click Me!!!</button>
<p appHighlight="red">hello</p>

<span appTooltip="my tooltip">test</span>
<br>
<span nbTooltip="tooltip nebular">test nebular</span>
