<nb-card accent="danger">
    <nb-card-header>
        <h4>Confirmation de suppression</h4>
    </nb-card-header>
    <nb-card-body>
        Etes-vous sûr de vouloir supprimer {{item}}?
    </nb-card-body>
    <nb-card-footer>
        <button nbButton (click)="yes()" style="margin-right: 10px">YES</button>
        <button nbButton (click)="no()">NO</button>
    </nb-card-footer>
</nb-card>
