<nb-layout>

  <nb-layout-header>
    <nb-actions>
      <nb-action icon="menu" (click)="close()"></nb-action>
    </nb-actions>

    <span>{{title}}</span>
  </nb-layout-header>

  <!-- <nb-sidebar state="compacted" (mouseover)="open()" (mouseleave)="close()"> -->
  <nb-sidebar state="compacted" >
    <app-nav></app-nav>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>
    &copy;BStorm - 2019
  </nb-layout-footer>

</nb-layout>
