<nb-card style="height: 50vh">
    <nb-list>
        <nb-list-item *ngFor="let item of model?.data | keyvalue" 
                      class="clickable"
                      (click)="onSelect(item.key)">
            <nb-user name="{{item.key}}"
                     picture="{{item.value.image.full | championImage}}"
                     shape="rectangle"></nb-user>
        </nb-list-item>
    </nb-list>
</nb-card>
