<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input formControlName="email" nbInput type="email">
    <input formControlName="password" nbInput type="password">
    <input nbButton type="submit" [disabled]="!form.valid">
</form>
