<nb-card accent="info">
  <nb-card-header>
      <p>{{model?.name | titlecase}}, {{model?.sys.country | uppercase}}</p>
  </nb-card-header>
  <nb-card-body>
      <p>Temp Min: {{model?.main.temp_min | number : '0.0-1'}}°C</p>
      <p>Temp Max: {{model?.main.temp_max | number : '0.0-1'}}°C</p>
      <p>Vitesse Vent: {{model?.wind.speed}}m/s</p>
      <img *ngIf="model" 
           src="http://openweathermap.org/img/wn/{{model.weather[0].icon}}@2x.png">
  </nb-card-body>
</nb-card>
