<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 mb-3"
             *ngFor="let item of collection">
             <div class="card">
                 <div class="card-body text-dark">
                     <img style="height: 200px; width: auto" src="{{ item.image | img_dir }}" class="card-img-top">
                     <!-- <img [src]="'assets/images/' + item.image" class="card-img-top"> -->
                     <div class="card-title">{{item.name | uppercase}}</div>
                     <p class="text-dark">
                        <span [ngClass]="{'barre': item.discount}">
                            {{item.price}}€
                        </span>
                        <span *ngIf="item.discount != null" class="text-danger">
                            {{item.priceWithDiscount() | number : '0.0-2'}}€
                        </span>
                    </p>
                 </div>
             </div>
        </div>
    </div>
</div>
