<!-- <ul>
    <li><a [routerLink]="['/home']" [routerLinkActive]="['active']" >Home</a></li>
    <li><a [routerLink]="['/about']" [routerLinkActive]="['active']" >About</a></li>
</ul> -->

<nb-menu [items]="items"></nb-menu>