<nb-card>
  <nb-card-header>
    Register
  </nb-card-header>
  <nb-card-body>
    <form class="form-vertical" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
      <div class="form-group">
        <label class="col-4">Email</label>
        <input nbInput type="email" formControlName="email" 
               [status]="
               ! formGroup.get('email').touched
                ? 'primary' 
                : formGroup.get('email').valid 
                    ? 'success' : 'danger'" >
        <p class="text-danger" 
           *ngIf="!formGroup.get('email').valid && formGroup.get('email').touched">Le champs n'est aps valide</p>
      </div>
      <div class="form-group">
        <label class="col-4">Nom</label>
        <input nbInput type="text" formControlName="lastName"
        [status]="formGroup.get('lastName').valid ? 'success' : 'danger'" >
      </div>
      <div class="form-group">
        <label class="col-4">Prénom</label>
        <input nbInput type="text" formControlName="firstName"
        [status]="formGroup.get('firstName').valid ? 'success' : 'danger'">
      </div>
      <div class="form-group">
        <label class="col-4">Mot de passe</label>
        <input nbInput type="password" formControlName="password" 
        [status]="formGroup.get('password').valid ? 'success' : 'danger'">
      </div>
      <div class="form-group">
        <label class="col-4">Confirmer mot de passe</label>
        <input nbInput type="password" formControlName="confirmPassword" 
        [status]="formGroup.getError('notSame') 
        || !formGroup.get('confirmPassword').valid 
        ? 'danger' : 'success'">
      </div>
      <div class="form-group">
          <label class="col-4">Date de Naissance</label>
          <input nbInput [nbDatepicker]="datepicker" formControlName="birthDate"
          [status]="formGroup.get('birthDate').valid ? 'success' : 'danger'">
          <nb-datepicker #datepicker></nb-datepicker>
      </div>
      <div class="form-group">
          <label class="col-4">J'accepte ...</label>
        <nb-checkbox formControlName="condAgreement"
        [status]="formGroup.get('condAgreement').valid?'success':'danger'"></nb-checkbox>
      </div>
      <div class="form-group">
          <button nbButton [disabled]="!formGroup.valid">S'enregistrer</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
