.my-alert {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

.dismiss {
    position: absolute;
    top: 5px;
    right: 5px;
}

.danger {
    border-color: darkred;
    color: white;
    background-color: lightcoral;
}

.success {
    border-color: darkolivegreen;
    color: white;
    background-color: lightgreen;
}