<nb-card>
    <nb-card-header>
        <input (keydown.enter)="add()" type="text" nbInput [(ngModel)]="input" style="margin-right: 10px">
        <button nbButton 
                (click)="add()"
                [disabled]="input == null || input.trim() == ''">+</button>
    </nb-card-header>
    <nb-card-body>
        <nb-card>
            <nb-list>
                <nb-list-item *ngFor="let item of items"
                              style="display: flex; 
                                    justify-content: space-between;
                                    align-items: center">
                    {{item.quantity}} - 
                    <span (click)="check(item)"
                          [ngClass]="{'barre': item.isChecked}">
                          {{item.name}}
                    </span>
                    <button nbButton status="danger" size="tiny">
                        <nb-icon icon="trash"
                        (click)="openConfirmation(item)"></nb-icon>
                    </button>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </nb-card-body>
</nb-card>
