<div class="row">
    <div class="col-3">
        <app-master (select)="changeDetails($event)"></app-master>
    </div>
    <div class="col-9">
        <app-details [name]="name"></app-details>
    </div>
</div>
